body {
    background-image: url(2017-09-01-18-43-10.jpg);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-position-y: -170px;
  }

  .wrapper {
  
    flex: auto;
  }
  
  .header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100vw;
    justify-content: space-between;
    background-color: #F6F6F6;
    border-bottom: 2.5px solid #7E5563;
    
  }
  
  .name {
    margin-left: 20px;
    /* font-family: sans-serif; */
    
  }
  
  .header-center {
    display: flex;
    flex-direction: row;
    padding-right: 60px;
  }
  
  .header-right {
    display: flex;
    justify-content: flex-end;
    background: transparent;
  }
  
  .link {
    margin: 15px;
    padding: 15px;
  }
   
  a {
    text-decoration: none;
    color: #7E5563;
  }
  
  a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(82, 82, 82);
  }

  #Portfolio {
    border-bottom: 1px solid #7E5563;
}

body {
    background-image: url(2017-09-01-18-43-10.jpg);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-position-y: -170px;
    overflow-x: hidden;
  }
/* Blog Posts */



/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn { 
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  margin-right: 30px;
}

/* Fake image */
.fakeimg {
  background-color: #f6f6f6;
  width: 100%;
  padding: 5px;
  border: 2px solid #7E5563;
  border-radius: 10px;
}

.description {
  width: 630px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  display: flex;
  flex-direction: row;
}
/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn { 
    width: 100%;
    padding: 0;
  }
}

/* Img styling */

.soccer-img {
  size: 100%;
  width: 100%;
  height: 100% !important;
  border-radius: 3px;
}

.football-img {
  size: 100%;
  width: 100%;
  height: 100% !important;
  border-radius: 3px;
}
.photographer {
  size: 100%;
  width: 100%;
  height: 100% !important;
  border-radius: 3px;
}

.scout {
  size: 100%;
  width: 880px;
  height: 100% !important;
  border-radius: 3px;
}


/* styling */

p {
  padding: 5px;
  border-radius: 10px;
  border: 2px solid #7E5563;
}

ul {
  padding: 5px;
  border-radius: 10px;
  border: 2px solid #7E5563;
}

.sjh img {
  size: 100%;
  width: 100%;
  height: 400px !important;
  border-radius: 3px;
}
/* .social-media{
  display: flex;
  flex-direction: row;
}
.instaimg {
  
    size: 100%;
    width: 50px;
    height: 100% !important;
    
  
}

.fbimg {
  
  size: 100%;
  width: 50px;
  height: 50px !important;
  margin-top: 10px;
  

} */