#see-also {
    border-bottom: 1px solid #7E5563;
}

body {
    background-image: url(2017-09-01-18-43-10.jpg);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-position-y: -170px;
  }

  .wrapper {
  
    flex: auto;
  }
  
  .header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100vw;
    justify-content: space-between;
    background-color: #F6F6F6;
    border-bottom: 2.5px solid #7E5563;
    
  }
  
  .name {
    margin-left: 20px;
    /* font-family: sans-serif; */
    
  }
  
  .header-center {
    display: flex;
    flex-direction: row;
    padding-right: 60px;
  }
  
  .header-right {
    display: flex;
    justify-content: flex-end;
  }
  
  .link {
    margin: 15px;
    padding: 15px;
  }
  
  a {
    text-decoration: none;
    color: #7E5563;
  }
  
  a:hover {
    text-decoration: underline;
    text-decoration-color: #7E5563;
  }

  /* box */

  .big-box {
    width: 500px;
    height: 230px;
    background-color: #F6F6F6;
    border-radius: 10px;
    margin-left: 33.5vw;
    margin-right: 40vw;
    margin-top: 20vh;
    z-index: 1;
    position: absolute;
    border: 2px solid #7E5563;
  }
  .box-content {
      font-family: sans-serif;
      font-weight: 600px;
      
  }
  .box-content h2 {
    padding: 20px;
    justify-content: justify;
    align-content: center;
    text-align-last: center;
      
      
  }

  .box-content p {
    padding-left: 15px;
    
      
      
  }
  /* background image */
  body {
    background-image: url(../about/2017-09-01-18-43-10.jpg);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-position-y: 50px;
  }

  /* Button */

  .classname {
    -moz-box-shadow:inset 0px 1px 0px 0px #fed897;
    -webkit-box-shadow:inset 0px 1px 0px 0px #fed897;
    box-shadow:inset 0px 1px 0px 0px #fed897;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f6b33d), color-stop(1, #d29105) );
    background:-moz-linear-gradient( center top, #f6b33d 5%, #d29105 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6b33d', endColorstr='#d29105');
    background-color:#f6b33d;
    -webkit-border-top-left-radius:0px;
    -moz-border-radius-topleft:0px;
    border-top-left-radius:0px;
    -webkit-border-top-right-radius:20px;
    -moz-border-radius-topright:20px;
    border-top-right-radius:20px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-radius-bottomright:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-left-radius:20px;
    -moz-border-radius-bottomleft:20px;
    border-bottom-left-radius:20px;
  text-indent:0px;
    border:1px solid #eda933;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
  height:65px;
    line-height:65px;
  width:161px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #cd8a15;
  }.classname:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d29105), color-stop(1, #f6b33d) );
    background:-moz-linear-gradient( center top, #d29105 5%, #f6b33d 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d29105', endColorstr='#f6b33d');
    background-color:#d29105;
    text-decoration: none;
  }.classname:active {
    position:relative;
    top:1px;
  }

  .box-content {
    padding: 20px;
    justify-content: justify;
    align-content: center;
    text-align-last: center;
  }

  