#see-also {
    border-bottom: 1px solid #7E5563;
}

body {
    background-image: url(2017-09-01-18-43-10.jpg);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-position-y: -170px;
  }

  .wrapper {
  
    flex: auto;
  }
  
  .header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100vw;
    justify-content: space-between;
    background-color: #F6F6F6;
    border-bottom: 2.5px solid #7E5563;
    
  }
  
  .name {
    margin-left: 20px;
    /* font-family: sans-serif; */
    
  }
  
  .header-center {
    display: flex;
    flex-direction: row;
    padding-right: 60px;
  }
  
  .header-right {
    display: flex;
    justify-content: flex-end;
  }
  
  .link {
    margin: 15px;
    padding: 15px;
  }
  
  a {
    text-decoration: none;
    color: #7E5563;
  }
  
  a:hover {
    text-decoration: underline;
    text-decoration-color: #7E5563;
  }

  /* box */

  .big-box {
    width: 650px;
    height: 350px;
    background-color: #F6F6F6;
    border-radius: 10px;
    margin-left: 30vw;
    margin-right: 40vw;
    margin-top: 25vh;
    z-index: 1;
    position: absolute;
    border: 2px solid #7E5563;
  }
  .box-content {
      font-family: sans-serif;
      font-weight: 600px;
      
  }
  .box-content h2 {
    padding: 20px;
    justify-content: justify;
    align-content: center;
    text-align-last: center;
      
      
  }

  .box-content p {
    padding-left: 15px;
    
      
      
  }
  /* background image */
  body {
    background-image: url(../about/2017-09-01-18-43-10.jpg);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-position-y: 50px;
  }