.newrapper {
    background-image: url(../../about/2017-09-01-18-43-10.jpg);
  
  
    background-repeat: no-repeat;
    background-size: 100%;
  
  
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100vw !important;
    height: 100% !important;
    z-index: -5;
    
   
  }

  body {
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .wrapper {
  
    flex: auto;
  }
  
  .header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100vw;
    justify-content: space-between;
    background-color: #F6F6F6;
    border-bottom: 2.5px solid #7E5563;
    
  }
  
  .name {
    margin-left: 20px;
    /* font-family: sans-serif; */
    
  }
  
  .header-center {
    display: flex;
    flex-direction: row;
    padding-right: 60px;
  }
  
  .header-right {
    display: flex;
    justify-content: flex-end;
  }
  
  .link {
    margin: 15px;
    padding: 15px;
  }
  
  a {
    text-decoration: none;
    color: #7E5563;
  }
  
  a:hover {
    text-decoration: underline;
    text-decoration-color: #7E5563;
  }

  /* box */

  .big-box {
    width: 650px;
    height: 350px;
    background-color: #F6F6F6;
    border-radius: 10px;
    margin-left: 30vw;
    margin-right: 40vw;
    margin-top: 25vh;
    z-index: 1;
    position: absolute;
    border: 2px solid #7E5563;
  }
  .box-content {
      font-family: sans-serif;
      font-weight: 600px;
      
  }
  .box-content h2 {
    padding: 20px;
    justify-content: justify;
    align-content: center;
    text-align-last: center;
      
      
  }

  .box-content p {
    padding-left: 15px;
    
      
      
  }
  /* background image */
  body {
    background-image: url(../about/2017-09-01-18-43-10.jpg);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-position-y: 50px;
  }


   /* Dropdown styles */

   .navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    
    font-size: 16px;    
    border: none;
    outline: none;
    color: #7E5563;
    padding: 30px 27px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #f6f6f6;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: #7E5563;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background: #F6F6F6;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  